#HomePage {
  backround-image: url("VolleyballerLogo.png");
  backround-color: rgba(255,255,255,0.5);
  backround-size: 100% auto;
  background-blend-mode: lighten;
}

.HomeListContainer a {
	color: #190F80;
	font-weight: bold;
}


body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}


/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}*/


.nav {
   background-color: #5eaef5;
   overflow: hidden;
}

.nav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.nav a:hover {
   background-color: #1e1075;
   color: white;
}

.nav a.active {
   background-color: #04AA6D;
   color: white;
}

.HomeListContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: left;
  padding: 3px;
  font-size: 18px;
}

.HomeListContainer div {
  padding: 5px;
  margin: 5px;
}

.UploadHighlightsLink a {
  color: #190F80;
  font-weight: bold;
  font-size: 18px;
}





